* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}
header {
  background-color: #10b582;
}
header a {
  text-decoration: none;
  color: white;
}
.ul_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding-top: 40px;
}
li {
  list-style-type: none;
}
/* Секция 1 */
.introduce {
  background-color: #10b582;
  position: relative;
  min-height: 800px;
}
.main_int {
  display: flex;
  flex-direction: row;
  min-height: 650px;
  gap: 44px;
  color: white;
}
.left_woman {
  display: flex;
  align-self: flex-end;
}
.right_woman {
  margin-top: 56px;
}
.ul_socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 56px;
}
.introduce_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduce_text {
  max-width: 542px;
  text-align: center;
}
#text_int_1 {
  padding-bottom: 41px;
}
#text_int_2 {
  font-size: 58px;
  padding-bottom: 20px;
}
#text_int_3 {
  font-size: 16px;
  padding-bottom: 50px;
}
.button_int {
  background-color: #fa9f42;
  padding: 20px 47px;
  border: none;
  border-radius: 0 20px;
  color: white;
}

.arrow_text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.text_down {
  padding-top: 15px;
}
.woman_arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* секция числа numbers */
.number_sector {
  margin: 120px 35px;
}
.numbers_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.green_numbers {
  font-size: 58px;
  color: #10b582;
  margin-bottom: 15px;
}
.numbers_text {
  font-size: 14px;
  max-width: 240px;
}
/* SECTION TEACHERS */
.teachers_text {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.h1_teacher {
  font-size: 58px;
  color: #353a5a;
}
.btn_teachers {
  width: 230px;
  height: 56px;
  border: none;
  border-radius: 0px 20px;
  background-color: #10b582;
  color: white;
}
.main_teacher_text {
  margin: 20px 0 50px 0;
}
.teachers {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  gap: 30px;
  text-align: center;
}
.teachers_block_separate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
}

/* SECTION FORMAT */
.format_section {
  background-color: #10b582;
}
.format {
  display: flex;
  align-items: center;
}
.format_photo {
  padding: 120px 100px 120px 0px;
}
.format_text {
  color: white;
  display: flex;
  flex-direction: column;
}
.main_format_text {
  padding: 20px 0px 50px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fdfdfd;
}
.choose_format {
  font-size: 58px;
}
.btn_course {
  background-color: #fa9f42;
  border: none;
  border-radius: 0px 20px;
  width: 230px;
  height: 56px;
  color: white;
}

/* SECTION POPULAR COURSE */
.popular_course {
  font-size: 58px;
  color: #353a5a;
  text-align: center;
}
.popular_course_background {
  padding: 120px 0px;
}
.statistics {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}
.diagrams {
  box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
  border-radius: 10px;
}
.diagrams_icons {
  padding: 20px 20px 15px 20px;
}
.diagrams_text {
  padding-left: 20px;
  padding-bottom: 20px;
}
.statistic_btn {
  width: 230px;
  height: 56px;
  border: none;
  border-radius: 0px 20px;
  background-color: #10b582;
  color: white;
}
.btn_stat {
  display: flex;
  justify-content: center;
}

/*  SECTION JOIN US */
.join_background {
  background-image: url(./assets/image/img/background.png);
  background-size: cover;
  width: 100%;
  height: 578px;
}
.join_main_text {
  text-align: right;
  width: 50%;
  margin-left: auto;
}
